.logo_section {
    background-image: url("../Images/gallery.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    margin-top: 0 !important;
}

.logo_section {
    padding-top: 100px;
    padding-bottom: 200px;
}

.logo_section h1.fashion_taital {
    margin-bottom: 0px;
    padding-bottom: 0px;
    display: block;
    margin: auto;
}

div.col-lg-4 {
    margin-top: 25px;
}

figure a img {
    border: 2px solid rgba(61, 63, 152, 0.5);
    border-radius: 5px;
    padding: 10px;
}

figcaption {
    text-align: center;
    color: #000;
    font-size: larger;
}

a {
    color: #000;
}

a:hover figcaption {
    color: #3D3F98;
}

@media screen and (max-width: 1080px) {
    .logo_section {
        width: 100%;
        background-size: cover;
        padding-top: 100px;
        padding-bottom: 100px;
    }
}