/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/
/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(css/font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/* ------------------------- Fonts ------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Phudu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
    box-sizing: border-box !important;
    transition: ease all 0.5s;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    color: #666666;
    font-size: 14px;
    line-height: 1.80857;
    font-weight: normal;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    background: url("../Images/images.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: normal;
    margin: 0
}

h1 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

h3 {
    font-size: 18px;
    text-transform: uppercase;
}

h4 {
    font-size: 16px;
    text-transform: uppercase;
}

h5 {
    font-size: 14px;
    text-transform: uppercase;
}

h6 {
    font-size: 13px;
    text-transform: uppercase;
}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    text-decoration: none!important;
    opacity: 1
}

h1.fashion_taital {
    color: #04A858 !important;
}

h1.products a {
    color: #04A858 !important;
}

h1.products a:hover {
    color: #3D3F98 !important;
}

button:focus {
    outline: none;
}

ul,
li,
ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

/* ul li.products div.categories {
    display: none;
} */

/* Reset default list styling */
.nav-right, .categories {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-right li {
    float: left;
    position: relative;
}

.nav-right a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

/* Dropdown styling */
.products .categories {
    display: none;
    position: absolute;
    top: 100%; /* Position below the parent */
    left: 0;
    background-color: #000;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    min-width: 200px; /* Set a minimum width for better visibility */
}

.products:hover .categories {
    display: block;
}

.products:hover .categories a {
    font-size: 15px;
}


.col-sm-12 a img {
    display: block;
    margin: auto;
}

p {
    margin: 20px;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
}

a {
    color: #04A858;
    text-decoration: none;
    outline: none !important;
}

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

img {
    max-width: 100%;
    height: auto;
}

 :focus {
    outline: 0;
}

.paddind_bottom_0 {
    padding-bottom: 0 !important;
}

.btn-custom {
    margin-top: 20px;
    background-color: transparent !important;
    border: 2px solid #ddd;
    padding: 12px 40px;
    font-size: 16px;
}

.lead {
    font-size: 18px;
    line-height: 30px;
    color: #767676;
    margin: 0;
    padding: 0;
}

.form-control:focus {
    border-color: #ffffff !important;
    box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
    border: none !important;
}

.badge {
    font-weight: 500;
}

blockquote {
    margin: 20px 0 20px;
    padding: 30px;
}

button {
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.full {
    float: left;
    width: 100%;
}

.layout_padding {
    padding-top: 20px;
    padding-bottom: 0px;
}

.padding_0 {
    padding: 0px;
}

/* header top section start */

.header_section_top {
    background-color: #000;
    padding: 10px 0;
    display: block;
    justify-content: center;
    width: 100%;
    height: auto;
    opacity: 1;
}

.header_section_top ul.nav-left li img {
    height: 75px;
    padding-bottom: 10px;
}

.custom_menu {
    text-align: center;
}

.custom_menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.custom_menu ul.nav-left {
    float: left;
    margin-left: 50px;
}

.custom_menu ul.nav-right {
    float: right;
}

.custom_menu ul.nav-right li {
    font-size: 16px;
    color: #04A858;
    padding: 0 25px;
    margin: auto;
    text-transform: uppercase;
}

.custom_menu ul.nav-right li.dropdownIcon {
    display: none;
}

.custom_menu ul li a {
    color: #04A858;
    text-decoration: none;
}

.custom_menu ul li a:hover {
    color: #3D3F98;
}

.custom_menu ul li a img {
    height: 75px;
}

/* header top section end */


/* logo section start */

div.carousel-item {
    background: url('../Images/company.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

.logo_section {
    width: 100%;
    float: left;
}

.logo_section img {
    display: block;
    margin: auto;
}

.logo_section h1 {
    font-size: 75px;
    color: #3D3F98;
}

.logo_section h2 {
    color: #3D3F98;
}

.logo {
    width: 100%;
    float: left;
    text-align: center;
    padding: 30px 0px;
}


/* logo section end */

div.about {
    width: 75%;
    display: block;
    margin: auto;
}

div.about h2 {
    padding-top: 50px;
}

div.about p {
    text-align: justify;
}

div.about div.row div.col-lg-12 {
    border: 1px solid rgba(0, 0, 0, 1);
}

div.about-us a {
    color: #04A858;
}

div.offer a {
    color: #04A858;
}


div.about-us h2 a {
    color: #04A858;
}

div.offer h2 a {
    color: #04A858;
}

div.about-us a:hover {
    color: #3D3F98;
}

div.offer a:hover {
    color: #3D3F98;
}

div.about-us h2 a:hover {
    color: #3D3F98;
}

div.offer h2 a:hover {
    color: #3D3F98;
}

/* header section start */

.header_section {
    width: 100%;
    display: flex;
}

.containt_main {
    display: flex;
}


/* opennav bar start */

/* .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #3D3F98;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.box_main {
    max-height: 525px;
}

.top-box {
    max-height: 600px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.toggle_icon {
    cursor: pointer;
    color: #ffffff;
    order: 2;
}

.header_box {
    order: 2;
    display: flex;
}

.dropdown,
.dropleft,
.dropright,
.dropup {
    position: relative;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    margin-left: 30px;
    order: 2;
}

.btn-secondary {
    color: #fff;
    background-color: #30302e;
    border-color: #30302e;
}

.btn-secondary:hover {
    color: #3D3F98;
    background-color: #30302e;
    border-color: #30302e;
}

.show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: none;
} */


/* opennav bar end */


/* Styles for wrapping the search box start */
/* 
.main {
    flex: 1;
    margin: 0px 30px;
    display: inline-block;
    order: 2;
}

/* Styles for wrapping the search box end */

.padding_10 {
    padding-left: 10px;
} */


/* flage css start */
/* 
.lang_box {
    display: flex;
    float: right;
    background: #fff;
    border-radius: 5px;
    margin-right: 20px;
}

.nav-link {
    display: block;
    padding: .4rem 1rem;
}

a:hover {
    color: #3D3F98;
    text-decoration: none;
} */


/* flage css end */


/* header section end */


/* banner section start */

.banner_section {
    width: 100%;
    float: left;
    padding-bottom: 60px;
}

.banner_taital {
    width: 100%;
    font-size: 60px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

/* banner section end */


/* fashion section start */

.fashion_section {
    width: 100%;
    float: left;
    padding-bottom: 25px;
}

h1 {
    color: #000;
}

.fashion_taital {
    width: 100%;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}

.fashion_section_2 {
    width: 100%;
    margin-top: 30px;
}

.fashion_section_2 h1 {
    color: #04A858;
}

.box_main {
    width: 100%;
    background-color: #ffffff;
    height: auto;
    padding: 20px;
    box-shadow: 0px 0 30px 10px #f0f0f0;
    margin-bottom: 20px;
}

.box_main a {
    color: #04A858;
}

.box_main a:hover {
    color: #3D3F98;
}

div.top-box {
    height: 400px;    
}

div.bottom-box {
    height: 400px;
}

.shirt_text {
    width: 100%;
    font-size: 20px;
    color: #30302e;
    text-align: center;
    font-weight: bold;
    padding-bottom: 5px;
}

.price_text {
    width: 100%;
    font-size: 16px;
    color: #3D3F98;
    text-align: center;
    margin: 0px;
}

.tshirt_img {
    width: 100%;
    text-align: center;
    margin: 50px 0px;
    min-height: 370px;
}

.btn_main {
    width: 100%;
    display: flex;
}

/* fashion section end */


/* electronic section start */

.electronic_img {
    width: 100%;
    text-align: center;
    margin: 50px 0px;
    min-height: 293px;
}

h4.view-products {
    padding-top: 20px;
}

/* electronic section end */

/* loader bar css start */
/* 
.loader_main {
    width: 100%;
    text-align: center;
    margin-top: 140px;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #414744;
    border-right: 16px solid #f26522;
    border-bottom: 16px solid #414744;
    border-left: 16px solid #f26522;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 6s linear infinite;
    margin: 0 auto;
} */

/* @-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} */


/* loader bar css end */

/* footer section start */

/* footer section start */

.footer_section {
    width: 100%;
    float: left;
    background-color: #000;
}

.footer_logo {
    display: block;
    margin: auto;
    width: 100%;
    text-align: center;
}

.footer_menu {
    width: 100%;
    margin: auto;
    float: none;
    text-align: center;
}

.footer_menu ul {
    margin: 0px;
    padding: 0px;
    margin: auto;
}

.footer_menu ul li {
    font-size: 16px;
    float: none;
    margin: auto;
    color: #f1f1f1;
    padding: 20px 10px 0px 10px;
}

ul.social {
    display: block; /* Display items as block elements */
    text-align: center; /* Center-align the text within the ul */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

.footer_menu ul.social li {
    display: inline-block; /* Display list items as inline-block elements */
    margin: 0 10px; /* Add margin to the list items */
    padding: 0; /* Remove default padding */
    float: none;
}

.footer_menu li a, h3 {
    color: #04A858;
}

.footer_menu h3 {
    font-size: 20px;
    text-decoration: underline;
}

.footer_menu li a:hover {
    color: #3D3F98;
}

.footer_menu ul li a img {
    width: 50px;
    height: 50px;
}

.footer_logo img {
    height: 100px;
}

/* footer section end */


/* copyright section start */

.copyright_section {
    width: 100%;
    float: left;
    /* background-color: #252525; */
    background-color: #000;
    height: auto;
}

.copyright_text {
    width: 100%;
    float: left;
    color: #04A858;
    text-align: center;
    font-size: 16px;
    margin: 20px 0px;
}

.copyright_text a {
    color: #04A858;
}

.copyright_text a:hover {
    color: #3D3F98;
}

.margin_top90 {
    margin-top: 90px;
}


/* copyright section end */

.contact input[type="text"],
.contact input[type="email"],
.contact input[type="number"],
.contact textarea {
    width: 25%;
    padding: 10px;
    font-size: 14px;
}

@media screen and (max-width: 1080px) {
    /* Reset the styles for the navigation menu */
    .header_section_top {
        padding: 10px;
        height: auto;
    }

    .custom_menu {
        display: flex;
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center items horizontally */
        padding: 10px;
    }

    .custom_menu ul.nav-left,
    .custom_menu ul.nav-right {
        margin: 0; /* Remove margin for ul elements */
        padding: 0; /* Reset padding */
        list-style: none; /* Remove default list styles */
    }

    .custom_menu ul.nav-left {
        display: block;
        margin: auto;
    }

    .custom_menu ul.nav-right li {
        display: none;
        background-color: #000;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        min-width: 200px;
        text-align: center;
    }

    .custom_menu ul.nav-right li.dropdownIcon {
        display: block;
        float: none;
    }

    ul.nav-right.responsive li.dropdownIcon {
        position: relative;
    }
    
    ul.nav-right.responsive {
        display: inline;
        float: right;
    }
    
    ul.nav-right.responsive li {
        display: inline;
        padding: 0;
        float: none;
    }

    ul.nav-right.responsive li a {
        display: block;
    }

    ul.nav-right.responsive li.dropdownIcon {
        display: none;
    }

    /* Display the categories dropdown vertically as well */
    .custom_menu .nav-right .categories {
        position: static; /* Override absolute positioning */
        display: block;
        background-color: #000;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        min-width: 200px;
    }

    li.products div.categories a {
        display: none;
    }

    div.logo_section {
        display: block;
        margin: auto;
    }

    div.logo_section h1 {
        font-size: 45px;
        text-align: center;
        color: #fff;
    }

    div.logo_section h2 {
        color: #fff;
    }

    div.footer_menu h3 {
        padding-top: 20px;
    }

    /* div.footer_menu ul.links li {

        font-size: small;
    }

    div.footer_menu ul.policies li {
        font-size: small;
    } */

    

    div.footer_logo a img {
        height: 50px;
    }

    div.footer_menu div.row div.col-lg-4 ul li a img {
        height: 35px;
        width: 35px;
    }
}

#carouselExampleCaptions {
    height: 325px;
}

div.footer_menu div.row div.col-lg-4 ul h3 {
    font-size: 30px;
}

div.footer_menu div.row div.col-lg-4 ul li {
    padding: 3px;
}

div.footer_logo a img {
    height: 50px;
}

div.footer_menu div.row div.col-lg-4 ul li a img {
    height: 35px;
    width: 35px;
}

@media screen and (max-width: 1080px) {
    div.logo_section {
        margin: 0;
    }
    div.offer {
        margin-top: 20px;
    }

    h1.product {
        margin-top: 25px;
    }

    h1.fashion_taital img {
        padding-top: 10px ;
    }
}

@media screen and (max-width: 820px) {
    div.box_main {
        height: 325px;
    }

    .surface {
        width: 150px;
        height: 150px;
    }
}

@media screen and (max-width: 920px) {
    div.box_main {
        height: 325px;
    }

    .surface {
        width: 150px;
        height: 150px;
    }
}

@media screen and (max-width: 540px) {
    div.box_main {
        height: 600px;
    }

    .surface {
        width: 400px;
        height: 400px;
    }
}

@media screen and (max-width: 280px) {
    div.box_main {
        height: 350px;
    }

    .surface {
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width: 412px) {
    div.box_main {
        height: 450px;
    }

    .surface {
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-width: 1024px) {
    div.box_main {
        height: 350px;
    }

    .surface {
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width: 420px) {
    div.box_main {
        height: 450px;
    }

    .surface {
        width: 300px;
        height: 300px;
    }
}